Repository influxdata/influxdb, pull requests merged in 2019-06, with the labels that each got.

#13699 Don't panic when encoding string blocks and length of source slice is too large
  tsdb/engine/tsm1/batch_string.go
  tsdb/engine/tsm1/batch_string_test.go
  tsdb/engine/tsm1/compact.gen.go
  tsdb/engine/tsm1/compact.gen.go.tmpl
  tsdb/engine/tsm1/compact.go
  tsdb/engine/tsm1/compact_test.go
Labels: needs-backport/1.7

#13770 fix(tsdb): Fix series file count
  tsdb/series_file_test.go
  tsdb/series_index.go
  tsdb/series_index_test.go
Labels: area/storage, kind/bug

#14151 fix(storage): Add WithCurrentGenerationFunc() for generation injection.
  storage/engine.go
  tsdb/tsm1/compact.go
  tsdb/tsm1/compact_test.go
  tsdb/tsm1/engine.go
  tsdb/tsm1/file_store.go
Labels: area/storage, area/tsm, kind/bug

#14211 feat(tsdb): Add basic tsdb read metrics
  tsdb/tsm1/array_cursor_iterator.gen.go
  tsdb/tsm1/array_cursor_iterator.gen.go.tmpl
  tsdb/tsm1/array_cursor_iterator.go
  tsdb/tsm1/engine.go
  tsdb/tsm1/file_store.go
  tsdb/tsm1/metrics.go
Labels: area/tsm

#14216 chore(tsdb): Fix read metrics declaration.
  tsdb/tsm1/engine.go
  tsdb/tsm1/metrics.go
Labels: area/tsm
