Repository influxdata/influxdb, pull requests merged in 2025-02, with the labels that each got.

#25978 chore: backport change from enterprise
  influxdb3_catalog/src/catalog.rs
Labels: v3

#25981 fix: remove request uri from error log
  influxdb3_server/src/http.rs
Labels: v3

#25977 fix: typo in influxdb3 client docs
  influxdb3_client/src/lib.rs
Labels: v3

#25986 refactor: use macro to define id types
  influxdb3_catalog/src/catalog.rs
  influxdb3_id/src/lib.rs
Labels: v3

#25984 fix: docker command was wrong
  install_influxdb.sh
  install_influxdb3.sh
Labels: v3

#26004 feat: Add error join for file writing in snapshots
  tsdb/engine/tsm1/compact.go
Labels: area/tsm, 1.x

#26014 test: query distinct cache via flight sql
  influxdb3/tests/server/flight.rs
  influxdb3/tests/server/mod.rs
Labels: v3

#25998 fix: lock MeasurementFields while validating
  tsdb/engine/tsm1/engine.go
  tsdb/field_validator.go
  tsdb/shard.go
  tsdb/shard_test.go
Labels: area/tsm, kind/bug, 1.x, team/edge

#25969 feat: build and use python-build-standalone with official builds
  .circleci/config.yml
  .circleci/packages/config.yaml
  .circleci/packages/influxdb3/fs/usr/lib/influxdb3/.keepdir
  .circleci/scripts/docker_build_release.bash
  .circleci/scripts/fetch-python-standalone.bash
  .circleci/scripts/package-validation/validate
  Dockerfile
  Dockerfile.dockerignore
  README_processing_engine.md
  influxdb3/src/main.rs
  influxdb3_processing_engine/src/virtualenv.rs
  install_influxdb.sh
  install_influxdb3.sh
Labels: v3

#26022 fix: switch MeasurementFields from atomic.Value to sync.Map
  pkg/data/gensyncmap/gensyncmap.go
  tsdb/shard.go
  tsdb/shard_test.go
Labels: area/tsm, kind/enhancement, 1.x, team/edge

#26025 fix: prevent differing field types in the same shard
  pkg/data/gensyncmap/gensyncmap.go
  tsdb/engine/tsm1/engine.go
  tsdb/field_validator.go
  tsdb/shard.go
  tsdb/shard_test.go
Labels: area/tsm, kind/bug, team/edge

#26028 chore: refactor field creation for maintainability
  tsdb/engine/tsm1/engine.go
  tsdb/engine/tsm1/engine_test.go
  tsdb/field_validator.go
  tsdb/shard.go
  tsdb/shard_test.go
Labels: area/tsm, kind/enhancement, 1.x, team/edge

#26023 feat: updates to default memory settings
  influxdb3/src/commands/common.rs
  influxdb3/src/commands/serve.rs
Labels: v3

#26054 fix: ensure fields in memory match on disk
  tsdb/engine/tsm1/engine.go
  tsdb/field_validator.go
  tsdb/shard.go
  tsdb/shard_test.go
Labels: area/tsm, kind/bug, 1.x, team/edge

#26036 chore: refactor field creation for maintainability
  tsdb/engine/tsm1/engine.go
  tsdb/engine/tsm1/engine_test.go
  tsdb/field_validator.go
  tsdb/shard.go
  tsdb/shard_test.go
Labels: kind/refactor, area/tsm, kind/bug, team/edge

#26070 fix: ensure temp files removed on failed compaction
  tsdb/engine/tsm1/compact.go
  tsdb/engine/tsm1/engine.go
Labels: area/tsm, kind/bug, 1.x, team/edge

#26067 chore: revert fix shellcheck lints
  docker/entrypoint.sh
  install_influxdb.sh
Labels: v3

#26071 fix: ensure temp files removed on failed compaction (#26070)
  tsdb/engine/tsm1/compact.go
  tsdb/engine/tsm1/engine.go
Labels: area/tsm, kind/bug, area/2.x, team/edge

#26074 fix: remove temp files on error in Compactor.writeNewFiles
  tsdb/engine/tsm1/compact.go
Labels: area/tsm, kind/bug, 1.x, team/edge

#26080 fix: remove temp files on error in Compactor.writeNewFiles (#26074)
  tsdb/engine/tsm1/compact.go
Labels: area/tsm, kind/bug, area/2.x, team/edge
